*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #f6f5f7;
}
.inicio{
	background-color: #006399;
	width: 350px;
	padding: 40px;
	border-radius: 5px;
	margin: auto;
}
.drop{
	text-align: center;
	width: 100%;
	padding:0;
	margin-bottom: 15px; 
}
.login{
	width: 100%;
}
.logo{
	margin: 5% auto 5% auto;
	width: 350px;
}
.logo img{
	width: 100%;
}
.pregunta{
	color: white;
	font-family: "Helvetica";
	font-weight: bold;
}
.pregunta span{
	color:pink;
}
.titulo{
	font-size: 40px;
	font-style: italic;
	color: #223e4e;
}
.titulos{
	margin: 2% 0 2% 0;
}
.entrar{
	width: 90%;
	height: 35px;
	padding:5px;
}
.drops{
	margin-bottom: 15px;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #337ab7;
    color: white;
}
input{
	border-radius: 4px;
}
.nota{
	width: 30px;
}
.check{
	color:#006592;
	font-size: 20px;
}
.obs{
	width: 100%;
}
.error{
	background-color: #d83d44;
	color:white;
	text-align: center;
}
.peligro{
		background-color: #ffbe2e;
	color:white;
	text-align: center;
}
.aprobado{
		background-color: #009995;
	color:white;
	text-align: center;
}
.meses{
	width: 150px;
	height: 25px;
}
.meses1{
	width: 200px;
}
.area{
	width: 90%;
}
.log{
	width: 100%;
	height: 35px;
	padding-top: 5px;
}
.agregar{
	background-color: #006592;
	font-size: 20px;
	width: 250px;
	height: 40px;
	border-radius: 30px;
text-align: center;
padding-top: 5px;
}
.agregar a{
		color: white;
}